spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 1
      connection-timeout: 10000
      idle-timeout: 30000
      max-lifetime: 30000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    open-in-view: false
---
spring.config.activate.on-profile: local

spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true

---
spring.config.activate.on-profile: sandbox, prod

spring:
  jpa:
    properties:
      hibernate:
        format_sql: false
        show_sql: false
        use_sql_comments: true
