<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.nomoney.support.logging.ApiLoggingFilter" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
</configuration>
